<!DOCTYPE html>
<html>
<head>
  <title>Blog (Hwk10, Add: Authors_CRUD)</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul id="nav">
    <li><a href= posts >Posts</a></li>
    <li><a href= authors >Authors</a></li>
    <li><a href="#">About</a></li>

    <% if current_user %>
      <li>Logged In As: <%= current_user.full_name %> <%= link_to("Sign Out", sign_in_path, method: :delete)%></li>
    <% else %>
      <li><a href= sign_in >Sign In</a></li>
    <% end %>
  </ul>

  <br>
  <br>
  
  <%= flash[:notice] if flash[:notice] %>
  <%= flash[:alert] if flash[:alert] %>

  <%= yield %>

</body>
</html>
